[submodule "lib/fontawesome.pri"]
	path = thirdparty/fontawesome.pri
	url = https://github.com/PhilInTheGaps/fontawesome.pri

[submodule "lib/o2"]
	path = thirdparty/o2
	url = https://github.com/pipacs/o2
	
[submodule "lib/qytlib"]
	path = thirdparty/qytlib
	url = https://github.com/PhilInTheGaps/qytlib
