[submodule "lib/fa-qml"]
	path = lib/fa-qml
	url = https://github.com/PhilInTheGaps/fa-qml
[submodule "lib/fontawesome.pri"]
	path = lib/fontawesome.pri
	url = https://github.com/PhilInTheGaps/fontawesome.pri
