/GM-Companion-NetbeansTest/Player/nbproject/private/
/GM-Companion-NetbeansTest/Player/build/
/GM-Companion-NetbeansTest/Player/dist/
C++Project\Build_x64_MSVC2015_Debug\
C++Project\Build_x64_MSVC2015_Release\
C++Project\Build_x86_MSVC2015_Debug\
C++Project\Build_x86_MSVC2015_Release\
/C++Project/Build_x64_MSVC2015_Debug/
/C++Project/Build_x64_MSVC2015_Release/
/C++Project/Build_x86_MSVC2015_Debug/
/C++Project/Build_x86_MSVC2015_Release/
