[submodule "lib/fontawesome.pri"]
	path = lib/fontawesome.pri
	url = https://github.com/PhilInTheGaps/fontawesome.pri

[submodule "lib/o2"]
	path = lib/o2
	url = https://github.com/pipacs/o2
	
[submodule "lib/qytlib"]
	path = lib/qytlib
	url = https://github.com/PhilInTheGaps/qytlib
