# pkgconfig
pfultz2/pkgconfig

# zlib, required for basically everything
madler/zlib@v1.2.13

# qtkeychain
frankosterfeld/qtkeychain@0.14.1 -DBUILD_WITH_QT6=ON

# taglib
taglib/taglib@v1.13.1

# cmark-gfm
github/cmark-gfm@0.29.0.gfm.13 -DCMARK_STATIC=ON -DCMARK_SHARED=OFF -DCMARK_TESTS=OFF

# bzip2
https://gitlab.com/bzip2/bzip2/-/archive/master/bzip2-master.zip

# quazip
stachenov/quazip@v1.4 -DQUAZIP_QT_MAJOR_VERSION=6

### requirements for poppler ###

# libpng
glennrp/libpng@v1.6.39

# curl
curl/curl@curl-8_2_1 -DCMAKE_SH="CMAKE_SH-NOTFOUND"

# brotli (optional)
google/brotli@v1.0.9

# freetype
freetype/freetype@VER-2-12-1 -DFT_DISABLE_HARFBUZZ=TRUE -DFT_REQUIRE_ZLIB=True -DFT_REQUIRE_PNG=True -DFT_REQUIRE_BROTLI=True

# libjpeg-turbo
libjpeg-turbo/libjpeg-turbo@2.1.4

# libtiff
http://download.osgeo.org/libtiff/tiff-4.4.0.tar.gz -Dlzma=OFF -Dwebp=OFF

# openjpeg
uclouvain/openjpeg@v2.4.0

# poppler
https://gitlab.freedesktop.org/poppler/poppler/-/archive/poppler-23.07.0/poppler-poppler-23.07.0.tar.gz -DBUILD_GTK_TESTS=OFF -DBUILD_QT5_TESTS=OFF -DBUILD_QT6_TESTS=OFF -DBUILD_CPP_TESTS=OFF -DBUILD_MANUAL_TESTS=OFF -DENABLE_BOOST=OFF -DENABLE_UTILS=OFF -DENABLE_CPP=OFF -DENABLE_GLIB=OFF -DENABLE_GOBJECT_INTROSPECTION=OFF -DENABLE_QT5=OFF -DENABLE_QT6=ON
