# qtkeychain
frankosterfeld/qtkeychain@v0.13.2

# taglib
taglib/taglib@v1.13

# cmark-gfm
github/cmark-gfm@0.29.0.gfm.11

# quazip
stachenov/quazip@v1.4 -DQUAZIP_QT_MAJOR_VERSION=5

# poppler
freedesktop/poppler@poppler-22.12.0 -DENABLE_CPP=OFF -DENABLE_GLIB=OFF -DENABLE_QT6=OFF -DENABLE_QT5_TESTS=OFF -DBUILD_MANUAL_TESTS=OFF
