
# zlib, required for basically everything
https://www.zlib.net/zlib-1.2.12.tar.gz

# qtkeychain
frankosterfeld/qtkeychain@v0.13.2

# taglib
taglib/taglib@v1.12

# cmark-gfm
github/cmark-gfm@0.29.0.gfm.0

### requirements for poppler ###

# libpng
https://download.sourceforge.net/libpng/libpng-1.6.37.tar.xz

# bzip2
https://github.com/sergiud/bzip2/archive/cmake.zip

# curl
https://curl.se/download/curl-7.83.0.tar.gz -DCMAKE_SH="CMAKE_SH-NOTFOUND"

# brotli (optional)
google/brotli@v1.0.9

# freetype
https://download.savannah.gnu.org/releases/freetype/freetype-2.12.1.tar.xz -DFT_DISABLE_HARFBUZZ=TRUE

# libjpeg-turbo
libjpeg-turbo/libjpeg-turbo@2.1.3

# libtiff
http://download.osgeo.org/libtiff/tiff-4.3.0.tar.gz -Dlzma=OFF -Dwebp=OFF

# openjpeg
uclouvain/openjpeg@v2.4.0

# poppler
https://poppler.freedesktop.org/poppler-22.04.0.tar.xz -DENABLE_CPP=OFF -DWITH_ICONV=OFF -DENABLE_LIBCURL=OFF -DENABLE_GLIB=OFF -DENABLE_BOOST=OFF -DENABLE_QT6=OFF
