h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  color: #569cd6;
}
blockquote {
  margin-left: 30px;
  color: #3d4042;
  background: #e3e3e3;
}
code {
  color: #e6a152;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  border-radius: 3px;
}
p {
  line-height: 1.8em;
}
li {
  line-height: 1.8em;
}
a {
  text-decoration: underline;
  color: #f66;
  border-bottom: 2px solid transparent;
}
a:hover {
  color: #f33;
  border-bottom-color: #f33;
}
