/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.button1 {
	-fx-opacity: 0.9;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-background-color: white;
    -fx-border-color: grey;
    -fx-border-width: 2;
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-background-size: 150 150;
    -fx-font-weight: bold;
    -fx-background-position: center center;
    -fx-background-repeat : stretch;
}
.button1:hover {
    -fx-background-color: derive(lightgrey,30%);
    -fx-opacity: 1;
}
.scroll-pane > .viewport {
   -fx-background-color: transparent;
}
.scroll-pane > .scroll-bar > .thumb{
    -fx-background-color: grey;
 	-fx-border-color: transparent;
 	-fx-background-radius: 0em;
}
.scroll-bar:vertical > .increment-button, 
.scroll-bar:vertical > .decrement-button {
    -fx-padding: 0.25em 0.5em  ;
}
