/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property
 * Colors:
 * #ffffff
 * #f2f2f2
 * #e2e2e2
 * #dbdbdb
 */
 /*Default Button*/
.button {
	-fx-opacity: 1;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-background-color: #f2f2f2;
    -fx-border-width: 1;
    -fx-background-radius: 0, 0;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-background-position: center center;
    -fx-background-repeat : stretch;
}
.button:hover {
    -fx-background-color: derive(#e2e2e2,30%);
    -fx-opacity: 1;
}

/*Default Text Field */
.text-field{
	-fx-opacity: 1;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-background-color: #f2f2f2;
    -fx-border-width: 1;
    -fx-background-radius: 0, 0;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-background-position: center center;
    -fx-background-repeat : stretch;
}

/*Default Label */
.label{
	-fx-font-size: 14px;
	-fx-font-weight: bold;
	-fx-text-fill: black;
}

/*Custom Folder Button */
.button1 {
	-fx-opacity: 0.9;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-background-color: #f2f2f2;
    -fx-border-width: 2;
    -fx-background-radius: 6, 5;
    -fx-background-insets: 1, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-background-size: 150 150;
    -fx-font-weight: bold;
    -fx-background-position: center center;
    -fx-background-repeat : stretch;
}
.button1:hover {
    -fx-background-color: derive(black,90%);
    -fx-opacity: 1;
}

/*Default ScrollPane */
.scroll-pane > .viewport {
   -fx-background-color: transparent;
}
.scroll-bar{
 -fx-background-color: #e2e2e2;
 -fx-background-radius: 0;
}
.scroll-bar > .thumb{
    -fx-background-color: #f2f2f2;
 	-fx-border-color: #e2e2e2;
 	-fx-background-radius: 0em;
}
.scroll-bar > .track{
    -fx-background-color: #e2e2e2;
 	-fx-border-color: #e2e2e2;
 	-fx-background-radius: 0em;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
 -fx-background-color: transparent;
 -fx-border-color:transparent;
 -fx-background-radius: 0em;
}
.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
 -fx-background-color: transparent;
 -fx-background-insets: 0;
 -fx-background-radius: 0em;
}
.scroll-bar > .increment-button, 
.scroll-bar > .decrement-button {
    -fx-padding: 0.5em  ;
    -fx-background-color: #e2e2e2;
    -fx-border-color: #e2e2e2;
    -fx-background-radius: 0;
}

/*Default TabPane */
.tab-pane
{
    -fx-tab-max-width: 0;
    -fx-tab-max-height: 0;
}
.tab-pane .tab-header-area{
	visibility: hidden ;
}

/*Default BorderPane */
.border-pane{
	-fx-background-color: #e2e2e2;
}

/*Default vBox */
.vbox {
	-fx-background-color: #e2e2e2;
}

/*Default hBox */
.hbox {
	-fx-background-color: #e2e2e2;
}

/*Default MenuBar */
.menu-bar {
	-fx-background-color: #dbdbdb;
}
.menu{
	-fx-background-color: #dbdbdb;
}
.menu:showing{
	-fx-background-color: #ffffff;
}
.context-menu {
    -fx-background-color: #ffffff;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em;
}
.menu-item:focused {
     -fx-background-color: #f2f2f2;
}

/*Default ListView */
.list-view{
	-fx-background-color: #f2f2f2;
}
.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-text-fill: black;
    -fx-background-color: #f2f2f2;
}
.list-cell{
	-fx-text-fill: black;
}
.list-cell:even {
    -fx-background-color: #e2e2e2;
}
.list-cell:odd {
    -fx-background-color: #dbdbdb;
}
.grid-pane{
	-fx-padding: 10;
  	-fx-border-style: solid inside;
  	-fx-border-width: 5;
  	-fx-border-insets: 5; 
  	-fx-border-radius: 1; 
  	-fx-border-color: #dbdbdb;
}
