/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property
 * Colors:
 * #222222
 * #666666
 */
 /*Default Button*/
.button {
	-fx-opacity: 1;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-background-color: transparent;
    -fx-border-width: 1;
    -fx-background-radius: 0, 0;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-background-position: center center;
    -fx-background-repeat : stretch;
}
.button:hover {
    -fx-background-color: derive(#222222,30%);
    -fx-opacity: 1;
}

/*Default Text Field */
.text-field{
	-fx-opacity: 1;
    -fx-text-fill: transparent;
    -fx-font-size: 14px;
    -fx-background-color: transparent;
    -fx-border-width: 1;
    -fx-background-radius: 0, 0;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-background-position: center center;
    -fx-background-repeat : stretch;
}

/*Default Label */
.label{
	-fx-font-size: 14px;
	-fx-font-weight: bold;
}

/*Custom Folder Button */
.button1 {
	-fx-opacity: 0.9;
    -fx-text-fill: transparent;
    -fx-font-size: 14px;
    -fx-background-color: transparent;
    -fx-border-width: 2;
    -fx-background-radius: 6, 5;
    -fx-background-insets: 1, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-background-size: 150 150;
    -fx-font-weight: bold;
    -fx-background-position: center center;
    -fx-background-repeat : stretch;
}
.button1:hover {
    -fx-background-color: derive(transparent,30%);
    -fx-opacity: 1;
}

/*Default ScrollPane */
.scroll-pane > .viewport {
   -fx-background-color: transparent;
}
.scroll-pane > .scroll-bar > .thumb{
    -fx-background-color: transparent;
 	-fx-border-color: transparent;
 	-fx-background-radius: 0em;
}
.scroll-bar:vertical > .increment-button, 
.scroll-bar:vertical > .decrement-button {
    -fx-padding: 0.25em 0.5em  ;
}

/*Default TabPane */
.tab-pane
{
    -fx-tab-max-width: 0;
    -fx-tab-max-height: 0;
}
.tab-pane .tab-header-area{
	visibility: hidden ;
}

/*Default BorderPane */
.border-pane{
	-fx-background-color: transparent;
}

/*Default vBox */
.vbox {
	-fx-background-color: transparent;
}

/*Default hBox */
.hbox {
	-fx-background-color: transparent;
}

/*Default ListView */
.list-view{
	-fx-background-color: #666666;
}