/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.button {
	-fx-opacity: 1;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-background-color: #666666;
    -fx-border-width: 1;
    -fx-background-radius: 0, 0;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-background-position: center center;
    -fx-background-repeat : stretch;
}
.button:hover {
    -fx-background-color: derive(#222222,30%);
    -fx-opacity: 1;
}
.text-field{
	-fx-opacity: 1;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-background-color: #222222;
    -fx-border-width: 1;
    -fx-background-radius: 0, 0;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-background-position: center center;
    -fx-background-repeat : stretch;
}
.label{
	-fx-font-size: 14px;
	-fx-font-weight: bold;
}
.button1 {
	-fx-opacity: 0.9;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-background-color: #222222;
    -fx-border-width: 2;
    -fx-background-radius: 6, 5;
    -fx-background-insets: 1, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-background-size: 150 150;
    -fx-font-weight: bold;
    -fx-background-position: center center;
    -fx-background-repeat : stretch;
}
.button1:hover {
    -fx-background-color: derive(#222222,30%);
    -fx-opacity: 1;
}
.scroll-pane > .viewport {
   -fx-background-color: #222222;
}
.scroll-pane > .scroll-bar > .thumb{
    -fx-background-color: #222222;
 	-fx-border-color: transparent;
 	-fx-background-radius: 0em;
}
.scroll-bar:vertical > .increment-button, 
.scroll-bar:vertical > .decrement-button {
    -fx-padding: 0.25em 0.5em  ;
}
.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #222222;
    -fx-opacity: 1;
}

.tab-pane
{
    -fx-tab-min-width:150px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab{
    -fx-opacity: 1;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-background-color: #222222;
    -fx-border-width: 2;
    -fx-background-radius: 2, 0;
    -fx-background-insets: 2, 2;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-padding: 0.25em 0.5em  ;
}

.tab-pane .tab:selected
{
    -fx-background-color: #222222;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: black;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}
.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: white;
}
.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em;
}
.border-pane{
	-fx-background-color: #222222;
}
.vbox {
	-fx-background-color: #666666;
}
.hbox {
	-fx-background-color: #666666;
}
.list-view{
	-fx-background-color: #666666;
}