Source: gm-companion
Section: misc
Priority: optional
Maintainer: Phil Hoffmann <phil.hoffmann@zoho.eu>
Build-Depends: g++, debhelper (>= 9), cdbs, qtbase5-dev, qt5-default, qttools5-dev, qtmultimedia5-dev, libqt5opengl5-dev, libqt5x11extras5-dev, libqt5xmlpatterns5-dev, qtdeclarative5-dev, libqt5network5, libqt5webengine5, libqt5webenginecore5, libqt5networkauth5-dev
Standards-Version: 3.9.8
Homepage: https://gm-companion.github.io

Package: gm-companion
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt5core5a, libqt5multimedia5, libqt5multimedia5-plugins, libqt5network5, libqt5networkauth5, libqt5opengl5, libqt5script5, libqt5widgets5, libqt5x11extras5, libqt5xml5, libqt5xmlpatterns5, libqt5gui5, libqt5qml5, libqt5quick5, qml-module-qtquick-layouts, qml-module-qtquick-window2, libqt5quickcontrols2-5, qml-module-qtquick2, qml-module-qtquick-controls, qml-module-qtquick-controls-styles-breeze, libqt5webengine5, libqt5webenginecore5, libqt5multimediaquick5, libqt5quickwidgets5
Description: A tool for tabletop rpg gamemasters.
 The "GM-Companion" is a tool for the gamemaster of a tabletop rpg session.
 .
 - Play audio that fits the current scene
   - Music Lists
   - Ambient Sounds
   - Webradios
   - Spotify Playlists (Experimental)
 - View maps
 - Roll dice
 - Keep track of the fight with the combat tracker
 - Create shops for the players
 - View the player's character sheet
 - Generate names for NPCs
 - Write notes
 - Convert units

